.filedrop {
    display: inline-block;
}

.filedrop input {
    margin: 0;
}

.filedrop.enabled {
    font-size: 13px;
    vertical-align: middle;
    padding: 8px 4em;
    margin-right: 4px;
    min-width:160px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px dashed #999;
}

.filedrop > .msg {
    display: none;
}

.filedrop.enabled > .msg {
    display: inline;
    margin-right: 0.25em;
}

.filedrop.in_dragover {
    border: 2px dashed #333;
}

.modeladmin,
.modeladmin .ops,
.modeladmin .view,
.modeladmin .ops > li {
    display: inline-block;
}

.modeladmin {
    vertical-align: middle;
    padding: 5px 2px;
}

.modeladmin .ops,
.modeladmin .ops > li {
    margin-left: 5px;
}

.modeladmin a {
    letter-spacing: 0.5px;
    padding: 3px 12px;
}

