.filedrop {
    display: inline-block;
}

.filedrop input {
    margin: 0;
}

.filedrop.enabled {
    font-size: 13px;
    vertical-align: middle;
    padding: 8px 4em;
    margin-right: 4px;
    min-width:160px;
    background-color: #f0f0f0;
    border-radius: 4px;
    outline: 1px dashed #999;
    outline-offset: -6px;    
}

.filedrop > .msg {
    display: none;
}

.filedrop.enabled > .msg {
    display: inline;
    margin-right: 0.25em;
}

.filedrop.in_dragover {
    background-color: white;
}

