.filedrop {
    display: inline-block;
}

.filedrop input {
    margin: 0;
}

.filedrop.enabled {
    font-size: 13px;
    vertical-align: middle;
    padding: 8px 4em;
    margin-right: 4px;
    min-width:160px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px dashed #999;
}

.filedrop > .msg {
    display: none;
}

.filedrop.enabled > .msg {
    display: inline;
    margin-right: 0.25em;
}

.filedrop.in_dragover {
    border: 2px dashed #333;
}

.modelctrls,
.modelctrls .view,
.modelctrls .ops {
    display: inline-block;
}

.modelctrls,
.modelctrls ul .view,
.modelctrls ul .ops,
.modelctrls .model {
    margin: 0 0 6px 0;
}

.modelctrls ul .ops {
    vertical-align: top;
}
.modelctrls .view {
    min-width:260px;
}

.modelctrls a {
    letter-spacing: 0.5px;
    padding: 3px 12px;
}

.modelctrls li {
    margin-bottom: 2px;
}
