{% include "django/forms/widgets/hidden.html" %}

<div class="modelctrls" {% include "django/forms/widgets/attrs.html" %}>
    {% if not widget.modelctrls.data %}
        {{ widget.modelctrls.no_data_message }}
    {% else %}
        {% for pk, data in widget.modelctrls.data.items %}
        <ul class="model">
            <ul class="view">
                {% for fname, fval in data.models.items %}
                <li class="data-{{ fname }}">{{ fval }}</li>
                {% endfor %}            
            </ul>
            <ul class="ops">
                {% if data.urls.add %}
                <li><a href="{{ data.urls.add }}" class="button">Add</a></li>
                {% endif %}
                {% if data.urls.change %}
                <li><a href="{{ data.urls.change }}" class="button">Change</a></li>
                {% endif %}
                {% if data.urls.delete %}
                <li><a href="{{ data.urls.delete }}" class="button">Delete</a></li>
                {% endif %}
            </ul>
        </ul>
        {% endfor %}            
    {% endif %}
</div>
