<div class="modelctrls" {% include "django/forms/widgets/attrs.html" %}>
    {% for pk, model in widget.modelctrls.items %}
    <ul class="model">
        <ul class="view">
            {% for fname, fval in model.data.items %}
            <li class="data-{{ fname }}">{{ fval }}</li>
            {% endfor %}            
        </ul>
        <ul class="ops">
            <li><a href="{{ model.urls.add }}" class="button">Add</a></li>
            <li><a href="{{ model.urls.change }}" class="button">Change</a></li>
            <li><a href="{{ model.urls.delete }}" class="button">Delete</a></li>
        </ul>
    </ul>
    {% endfor %}            
</div>
